<div style="overflow:hidden;">
<header class="header" id="header"><!--header-start-->
	<div class="container">
        <h1 class="animated fadeInDown delay-07s">Nick Coffey Photography</h1>
        <ul class="we-create animated fadeInUp delay-1s">
        	<li>Capturing the purest of moments</li>
        </ul>
            <a class="link animated fadeInUp delay-1s" href="#Portfolio">Learn More</a>
    </div>
</div>
</header><!--header-end-->


<nav class="main-nav-outer" id="test"><!--main-nav-start-->
	<div class="container">
        <ul class="main-nav">
        	<li><a href="#header">Home</a></li>
            <li><a href="#Portfolio">Portfolio</a></li>
            <li><a href="#packages">Packages</a></li>
            <!-- <li class="small-logo"><a href="#header"><img src="/images/small-logo.png" alt=""></a></li> -->
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
    </div>
</nav><!--main-nav-end-->

<section class="main-section paddind" id="Portfolio"><!--main-section-start-->
	<% @albums.each do |album| %>
		<button class="btn btn-success" type="button" data-toggle="collapse" data-target="#<%=album.name%>" aria-expanded="false" aria-controls="<%=album.name%>"><%= album.name %></button>
	<% end %>
	<% @albums.each do |album| %>
		<div class="collapse" id="<%=album.name%>"></div>
			<div class="well">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Photo</th>
							<th>Name</th>
							<th>Album</th>
							<th>Options</th>
						</tr>
					</thead>
					<tbody>
					<% album.photos.each do |photo| %>
						<tr>
							<td>
								<%= link_to image_tag(photo.image.thumb('180x180#').url, alt: photo.title, class: 'img-thumbnail'), photo.image.url, target: '_blank'%>
							</td>
							<td>
								<%= photo.title%>
							</td>
							<td>
								<%= album.name%>
							</td>
					<% end %>
					</tbody>
				</table>
			</div>
		</div>
	<% end %>



	<div class="container">
    	<h2>Portfolio</h2>
    	<h6>Fresh portfolio of designs that will keep you wanting more.</h6>
      <div class="portfolioFilter">
        <ul class="Portfolio-nav wow fadeIn delay-02s">
					<% @albums.each do |album| %>
        		<li><a href="#" data-filter=".<%= album.name %>" ><%= album.name %></a></li>
					<% end %>
        </ul>
       </div>

	</div>
  <div class="portfolioContainer wow fadeInUp delay-04s">
		<% @albums.each do |album| %>
    	<div class=" Portfolio-box printdesign">
      	<a href="#"><%= image_tag(album.photos[0].image.thumb('180x180#').url, alt: album.photos[0].title, class: 'img-thumbnail') %></a>
      	<h3><%= album.name %></h3>
        <p><%= album.name %></p>
      </div>
		<% end %>
              <!-- <div class="Portfolio-box webdesign">
              	<a href="#"><%= image_tag("Portfolio-pic2.jpg") %></a>
              	<h3>Family</h3>
                  <p>Web Design</p>
              </div> -->
  </div>
</section><!--main-section-end-->

<section class="main-section" id="packages"><!--main-section-start-->
	<div class="container">
    	<h2>Wedding Packages</h2>
    	<h6>The following pre-determined packages are available for your convenience.  Please contact us for custom options.</h6>
        <div class="row">
        	<div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
            	<div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-camera"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>Full Day Wedding</h3>
                        <p>Two photographers, 1200 high resolution digital photographs, 8 hours</p>
                    </div>
                </div>
                <div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-birthday-cake"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>Half Day Wedding</h3>
                        <p>Two photographers, 800 high resolution digital photographs, 5 hours</p>
                    </div>
                </div>
                <div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-cutlery"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>Full day Wedding (1 photographer)</h3>
                        <p>One photographer, 800 high resolution digital photographs, 8 hours</p>
                    </div>
                </div>
                <div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-photo"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>Half Day Wedding (1 photographer)</h3>
                        <p>One photographer, 800 high resolution digital photographs, 8 hours</p>
                    </div>
                </div>
            </div>
            <figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
            	<%= image_tag("WeddingPackage.jpg") %>
            </figure>

        </div>
	</div>
</section><!--main-section-end-->



<section class="main-section alabaster"><!--main-section alabaster-start-->
	<div class="container">
    	<div class="row">
			<figure class="col-lg-5 col-sm-4 wow fadeInLeft">
            	<%= image_tag("altPackage.jpg") %>
            </figure>
        	<div class="col-lg-7 col-sm-8 featured-work">
            	<h2>Additional Packages</h2>
            	<P class="padding-b">We also specialize in a variety of other events and professional portaits. Here is a list of a few, if you had something particular in mind, feel free to contact us and we will promptly get back to you.</P>
            	<div class="featured-box">
                	<div class="featured-box-col1 wow fadeInRight delay-02s">
                    	<i class="fa-music"></i>
                    </div>
                	<div class="featured-box-col2 wow fadeInRight delay-02s">
                        <h3>Family Photographs</h3>
                        <p>One to three hour session at a location of your choice.</p>
                    </div>
                </div>
                <div class="featured-box">
                	<div class="featured-box-col1 wow fadeInRight delay-04s">
                    	<i class="fa-gift"></i>
                    </div>
                	<div class="featured-box-col2 wow fadeInRight delay-04s">
                        <h3>Event Photographs</h3>
                        <p>Capture your events whether professional or casual.</p>
                    </div>
                </div>
                <div class="featured-box">
                	<div class="featured-box-col1 wow fadeInRight delay-06s">
                    	<i class="fa-group"></i>
                    </div>
                	<div class="featured-box-col2 wow fadeInRight delay-06s">
                        <h3>Boudoir</h3>
                        <p>Give a special gift to your special someone</p>
                    </div>
                </div>
                <a class="Learn-More" href="#">Learn More</a>
            </div>
        </div>
	</div>
</section><!--main-section alabaster-end-->

<!--
<section class="main-section client-part" id="client">
	<div class="container">
		<b class="quote-right wow fadeInDown delay-03"><i class="fa-quote-right"></i></b>
    	<div class="row">
        	<div class="col-lg-12">
            	<p class="client-part-haead wow fadeInDown delay-05">It was a pleasure to work with the guys at Knight Studio. They made sure
we were well fed and drunk all the time!</p>
            </div>
        </div>
    	<ul class="client wow fadeIn delay-05s">
        	<li><a href="#">
            	<img src="/images/client-pic1.jpg" alt="">
                <h3>James Bond</h3>
                <span>License To Drink Inc.</span>
            </a></li>
        </ul>
    </div>
</section>



<div class="c-logo-part">
	<div class="container">
    	<ul>
        	<li><a href="#"><img src="/images/c-liogo1.png" alt=""></a></li>
            <li><a href="#"><img src="/images/c-liogo2.png" alt=""></a></li>
            <li><a href="#"><img src="/images/c-liogo3.png" alt=""></a></li>
            <li><a href="#"><img src="/images/c-liogo4.png" alt=""></a></li>
            <li><a href="#"><img src="/images/c-liogo5.png" alt=""></a></li>
    	</ul>
	</div>
</div>

  -->

<section class="main-section team" id="about"><!--main-section team-start-->
	<div class="container">
        <h2>I'm Nick</h2>
        <h6>A bit about who I am and why I love photography.</h6>
        <div class="team-leader-block clearfix">
            <!-- <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-03s">
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="/images/team-leader-pic1.jpg" alt="">
                    <ul>
                        <li><a href="#" class="fa-twitter"></a></li>
                        <li><a href="#" class="fa-facebook"></a></li>
                        <li><a href="#" class="fa-pinterest"></a></li>
                        <li><a href="#" class="fa-google-plus"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-03s">Walter White</h3>
                <span class="wow fadeInDown delay-03s">Chief Executive Officer</span>
                <p class="wow fadeInDown delay-03s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sollicitudin cursus. Dolor sit amet, consectetur adipiscing elit proin consequat.</p>
            </div> -->
            <div class="team-leader-box">
                <div class="team-leader  wow fadeInDown delay-06s">
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <%= image_tag("nick.jpg") %>
                    <ul>
                        <li><a href="#" class="fa-twitter"></a></li>
                        <li><a href="#" class="fa-facebook"></a></li>
                        <li><a href="#" class="fa-pinterest"></a></li>
                        <li><a href="#" class="fa-google-plus"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-06s">Nick Coffey</h3>
                <span class="wow fadeInDown delay-06s">Lead Photographer, Owner</span>
                <p class="wow fadeInDown delay-06s">I'm pretty good at photos.  They are fun to take and I will take them of you if you want.</p>
            </div>
            <!-- <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-09s">
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="/images/team-leader-pic3.jpg" alt="">
                    <ul>
                        <li><a href="#" class="fa-twitter"></a></li>
                        <li><a href="#" class="fa-facebook"></a></li>
                        <li><a href="#" class="fa-pinterest"></a></li>
                        <li><a href="#" class="fa-google-plus"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-09s">Skyler white</h3>
                <span class="wow fadeInDown delay-09s">Accountant</span>
                <p class="wow fadeInDown delay-09s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sollicitudin cursus. Dolor sit amet, consectetur adipiscing elit proin consequat.</p>
            </div> -->
        </div>
    </div>
</section><!--main-section team-end-->



<section class="business-talking"><!--business-talking-start-->
	<div class="container">
        <h2>Contact me:</h2>
    </div>
</section><!--business-talking-end-->
<div class="container">
<section class="main-section contact" id="contact">

        <div class="row">
        	<div class="col-lg-6 col-sm-7 wow fadeInLeft">
            	<div class="contact-info-box address clearfix">
                	<h3><i class=" icon-map-marker"></i>Address:</h3>
                	<span>3234 Something Ln<br>Littleton, Colorado, 80123.</span>
                </div>
                <div class="contact-info-box phone clearfix">
                	<h3><i class="fa-phone"></i>Phone:</h3>
                	<span>303-383-2345</span>
                </div>
                <div class="contact-info-box email clearfix">
                	<h3><i class="fa-pencil"></i>email:</h3>
                	<span>nickcoffey@gmail.com</span>
                </div>
            	<div class="contact-info-box hours clearfix">
                	<h3><i class="fa-clock-o"></i>Hours:</h3>
                	<span><strong>Monday - Thursday:</strong> 10am - 6pm<br><strong>Friday:</strong> People work on Fridays now?<br><strong>Saturday - Sunday:</strong> Best not to ask.</span>
                </div>
                <ul class="social-link">
                	<li class="twitter"><a href="#"><i class="fa-twitter"></i></a></li>
                    <li class="facebook"><a href="#"><i class="fa-facebook"></i></a></li>
                    <li class="pinterest"><a href="#"><i class="fa-pinterest"></i></a></li>
                    <li class="gplus"><a href="#"><i class="fa-google-plus"></i></a></li>
                    <li class="dribbble"><a href="#"><i class="fa-dribbble"></i></a></li>
                </ul>
            </div>
        	<div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
            	<div class="form">
                	<input class="input-text" type="text" name="" value="Your Name" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
                    <input class="input-text" type="text" name="" value="Your E-mail" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
                	<textarea class="input-text text-area" cols="0" rows="0" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">Your Message</textarea>
                    <input class="input-btn" type="submit" value="send message">
                </div>
            </div>
        </div>
</section>
</div>
<footer class="footer">
    <div class="container">
        <span class="copyright">Copyright © 2015 | Designed by <a href="http://abramswebdevelopment.com">AbramsWebDevelopment</a>.</span>
    </div>
    <!--
        All links in the footer should remain intact.
        Licenseing information is available at: http://bootstraptaste.com/license/
        You can buy this theme without footer links online at: http://bootstraptaste.com/buy/?theme=Knight
    -->
</footer>


<script type="text/javascript">
    $(document).ready(function(e) {
        $('#test').scrollToFixed();
        $('.res-nav_click').click(function(){
            $('.main-nav').slideToggle();
            return false

        });

    });
</script>

  <script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100
      }
    );
    wow.init();
    document.getElementById('').onclick = function() {
      var section = document.createElement('section');
      section.className = 'wow fadeInDown';
      this.parentNode.insertBefore(section, this);
    };
  </script>


<script type="text/javascript">
	$(window).load(function(){

		$('.main-nav li a').bind('click',function(event){
			var $anchor = $(this);

			$('html, body').stop().animate({
				scrollTop: $($anchor.attr('href')).offset().top - 102
			}, 1500,'easeInOutExpo');
			/*
			if you don't want to use the easing effects:
			$('html, body').stop().animate({
				scrollTop: $($anchor.attr('href')).offset().top
			}, 1000);
			*/
			event.preventDefault();
		});
	})
</script>

<script type="text/javascript">

$(window).load(function(){


  var $container = $('.portfolioContainer'),
      $body = $('body'),
      colW = 375,
      columns = null;


  $container.isotope({
    // disable window resizing
    resizable: true,
    masonry: {
      columnWidth: colW
    }
  });

  $(window).smartresize(function(){
    // check if columns has changed
    var currentColumns = Math.floor( ( $body.width() -30 ) / colW );
    if ( currentColumns !== columns ) {
      // set new column count
      columns = currentColumns;
      // apply width to container manually, then trigger relayout
      $container.width( columns * colW )
        .isotope('reLayout');
    }

  }).smartresize(); // trigger resize to set container width
  $('.portfolioFilter a').click(function(){
        $('.portfolioFilter .current').removeClass('current');
        $(this).addClass('current');

        var selector = $(this).attr('data-filter');
        $container.isotope({

            filter: selector,
         });
         return false;
    });

});

</script>
